*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #f6f7fb;
    color: #111827;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, arial, sans-serif;
}

header{
    text-align: center;
    padding: 30px;
}
